<h2>Bienvenido</h2>
<h3>Ingresa tus datos</h3>
<form action="/users" method="post">
Nombre:<input type="text" name="nombre" id="nombre">
Correo:<input type="email" name="email" id="email">

Contraseña:<input type="password" name="password" id="password">
<input type="submit" value="Ingresar">
</form> 