 <h1>Create Pokemon</h1>

<form id="formulario" action="/pokedex" method="post">
Name: <input type="text" name="name" >
Photo: <input type="text" name="photo" >

type: <input type="text" name="type" >

 <input type="submit" value="crear">

</form>