{{#each pokemons}}

<main class="container">
        <article class="card">
            <img src="./img/fondoencabezado.svg"
            alt="fondocard"
            class="card-header">
            <div class="card-body">
                <div class="card-body-contentimg">
                    <img src="./img/charizard.png" alt="charizard" class="card-body-contentimg-img"
                    width="150">

                </div>
               <h1 class="card-body-title">
                {{name}}
                <span>#26</span>
               </h1>
               <p class="card-body-text">
                {{type}}
               </p>

            </div>
            <div class="card-footer">
                <div class="card-footer-poder">
                    <h3>Poder</h3>
                    <img src="./img/fuego.png"
                    alt="fuego" width="35">
                </div>
                <div class="card-footer-poder">
                    <h3>Resistencia</h3>
                    <img src="./img/castillo.png"
                    alt="fuego" width="35">
                </div>
                <div class="card-footer-poder">
                    <h3>Bonus</h3>
                    <img src="./img/cofre.png"
                    alt="fuego" width="35">
                </div>

            </div>

        </article>

        
        
    </main>

    {{/each}}
