:root{
    --green: #3BE798;
    --violet: #7F6EB2;
    --dark: #2B2B2B;
}
body{
   height: 100vh;
    font-family: system-ui;
}
#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  
}
.card{
  
   
    border-radius: 30px;
    width:300px;
    background-color: var(--dark);
}
.basicInfo{
    background-color: #f5f5f5;
    border-radius: 30px;
    padding:25px;
    position: relative;
}
.title .category,
.title .info{
    font-weight: 600;
    font-size: x-small;
}
.title .name{
    font-weight: bold;
    font-size: large;
    padding-bottom:3px;
}
.card .img {
    position: relative;
    z-index: 1;
    text-align: center;
}
.card .img img {
    width: 100%;
    transform: scale(1) rotate(20deg);
    transition: 0.5s;
}

.card .img::before {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    content: '';
    transform: translate(-50%, -50%);
    background-color: #e7e7e7;
    z-index: -2;
    top: 50%;
    left: 50%;
}
.card .img::after {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 40px;
    background-color: #000;
    content: '';
    right: 30px;
    z-index: -1;
    border-radius: 50%;
    opacity: 0.2;
    filter: blur(10px);
    transition: 0.5s;
}

.card .img input:checked ~ img {
    display: block;
}
.colors{
    display: flex;
    font-size: xx-small;
    text-align: center;
}
.colors label{
    margin-right:10px;
}
.colors .name{
    margin-bottom:5px;
}
.colors .ellipse{
    width:40px;
    height:40px;
    border-radius: 50%;
    
}
.mores{
    padding:25px;
}
.mores .stars,
.mores .price{
    display: inline-block;
}
.mores .price{
    float: right;
    color:#eee;
    font-weight: 600;
    letter-spacing: 1px;
}
.mores .stars{
    color:#9b9a9a;
}
.text-yellow{
    color:rgb(209, 209, 6);
}
.addCard{
    position: absolute;
    width:100%;
    bottom:0;
}
.addCard i{
    position: absolute;
    width:50px;
    height:50px;
    background-color: var(--green);
    color:#222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right:90px;
    bottom:-25px;
    border:5px solid var(--dark);
    transition: 0.5s;
    opacity: 0;
    transform: translate(0,10px);
    cursor: pointer;
}
.addCard::after,
.addCard::before{
    position: absolute;
    bottom:0;
    background-color: transparent;
    width:47px;
    height:38px;
    content:'';
    right:46px;
    border-bottom-left-radius: 55%;
    opacity: 0;
    transform: translate(0,20px);
    box-shadow: 0 20px 0 0 var(--dark);
    transition: 0.5s;
}
.addCard::after{
    right:unset;
    left:107px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 55%;
}
/* animation */
.card:hover .img img{
    transform: scale(1.2) rotate(30deg) translate(10px, -20px);
}
.card:hover .img::after{
    width:90%;

}
.card:hover .addCard i,
.card:hover .addCard::before,
.card:hover .addCard::after{
    opacity: 1;
    transform: translate(0,0);
}

#formProduct {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom:60px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  #formProducth4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  #formProduct p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  #formProduct h2 {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  #formProduct a {
    color: white;
    text-decoration: none;
  }
  
  #formProduct a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #formProduct .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  