<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="stylesheet" href="css/chat.css" />
     <link rel="stylesheet" href="css/styles.css" />


    <title>Shopy</title>
</head>
<body>
    {{{body}}}
</body>
</html>