<h2>Welcome to this chat </h2>
<h4 id="nombreusuario"></h4>

<form id="formulario">


mensaje:<input type="text" name="mensaje" id="mensaje">
<input type="submit" value="Enviar">

</form>

<p id="chat"></p>


<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
